<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <beans profile="default">
        <bean name="dataSource" class="org.h2.jdbcx.JdbcDataSource">
            <property name="url" value="jdbc:h2:mem:test;DB_CLOSE_DELAY=-1" />
            <property name="user" value="sa" />
            <property name="password" value="" />
        </bean>
        <bean id="flyway" class="org.flywaydb.core.Flyway" init-method="migrate">
            <property name="baselineOnMigrate" value="true" />
            <property name="locations" value="classpath:/db/migration/h2,classpath:/db/migration/common" />
            <property name="dataSource" ref="dataSource" />
        </bean>
    </beans>

    <beans profile="prod">
        <bean name="dataSource" class="org.postgresql.ds.PGSimpleDataSource">
            <property name="url" value="jdbc:postgresql://localhost:5432/postgres" />
            <property name="user" value="postgres" />
            <property name="password" value="password" />
            <property name="prepareThreshold" value="1"/>
            <property name="preparedStatementCacheQueries" value="1"/>
        </bean>
        <bean id="flyway" class="org.flywaydb.core.Flyway" init-method="migrate">
            <property name="baselineOnMigrate" value="true" />
            <property name="locations" value="classpath:/db/migration/postgress,classpath:/db/migration/common" />
            <property name="dataSource" ref="dataSource" />
        </bean>
    </beans>

    <beans>
        <bean id="jdbcConnectionHolder" class="org.transactional.JdbcConnectionHolder">
            <constructor-arg name="dataSource" ref="dataSource"/>
        </bean>

        <bean id="dogDao" class="org.dao.DBDogDao">
            <constructor-arg name="connectionHolder" ref="jdbcConnectionHolder"/>
        </bean>

        <bean id="dogService" class="org.service.SimpleDogService">
            <property name="dogDao" ref="dogDao"/>
        </bean>

        <bean id="dogController" class="org.controller.DogController">
            <constructor-arg name="dogService" ref="dogService"/>
        </bean>
        <bean name="jacksonObjectMapper" class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean"/>

        <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
            <property name="dataSource" ref="dataSource"/>
        </bean>
        <tx:advice id="txAdvice" transaction-manager="txManager">
            <tx:attributes>
                <tx:method name="find*" read-only="true"/>
                <tx:method name="*"/>
            </tx:attributes>
        </tx:advice>
        <aop:config>
            <aop:pointcut id="servicePointcut" expression="@annotation(org.transactional.Transactional)"/>
            <aop:advisor advice-ref="txAdvice" pointcut-ref="servicePointcut"/>
        </aop:config>
        <mvc:annotation-driven>
            <mvc:message-converters>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                    <property name="objectMapper" ref="jacksonObjectMapper" />
                </bean>
            </mvc:message-converters>
        </mvc:annotation-driven>
    </beans>
</beans>